*{
    box-sizing: border-box;
    margin:0;
    padding:10px 0px;
    /* border:1px dotted black; */
  }
  .slider-container{
    display:flex;
    position:relative;
    width:100%;
    transition:transform .5s ease-in-out;

    /* margin:0px auto; */
    /* overflow:hidden; */

    
  }
  .slide{
    height:500px;

    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
  
    flex-shrink: 0;
    flex-grow:0;
    flex-basis:100%;

  }
  .slider-control{
    display:flex;
    justify-content: space-between;
    
    position:absolute;
    width:100%;
    top:50%;

    transform:translateY(-50%);
    /* transform:translateX(%) */
    
  }
  .slider-control button{
    background-color:transparent;
    outline:none;
    border:1px solid transparent;
    border-radius: 50px;
    flex:0 1 50px;
    color:white;
  }
  .slider-control button:hover{
    background-color: rgba(255, 255, 255, 0.411);
  }
  
  